torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
diffusers
timm==0.6.12
accelerate
tensorboard
transformers
sentencepiece~=0.1.99
ftfy
beautifulsoup4
opencv-python
einops
xformers==0.0.23
librosa
pandas
scipy
tqdm
thop